.footer {
  background-color: #fff;
  padding: 20px 0;
  text-align: center;
  font: SebinoRegular;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.footer-bottom {
  font-size: 14px;
  color: #666;
}
